# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [2]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
# Paste the url you obtained for your data
#url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=sale'

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84'

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions). Hint: use the headers parameter to get the data!

In [4]:
# headers definition
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36'}

In [5]:
# Your code

#Ponemos el offset en 0 para ir a la pagina 1
url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=0'
response = requests.get(url, headers=headers)
response.json()
df = pd.DataFrame(response.json()['articles'])

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [6]:
# Get the total number of pages
#Hay 195 paginas de ropa infantil

# Your code
paginas_totales = response.json()['pagination']['page_count'] #195 paginas totales con un offset de 84

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset='
df1 = pd.DataFrame()

for pagina in range(paginas_totales):
    response = requests.get(url+str(pagina*84), headers=headers)
    df2 = pd.DataFrame(response.json()['articles'])
    df1 = pd.concat([df1,df2])

In [8]:
df1.drop_duplicates(['sku'],inplace=True) #borramos los duplicados
df1.reset_index(drop=True,inplace=True) #reseteamos el indice

#### Display the trending brand in DataFrame

In [ ]:
#Name it es la marca con mas productos 
df1[['sku','brand_name']].groupby('brand_name').count().sort_values('sku',ascending=False)

In [ ]:
# your code
df1.loc[5,'flags']

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [127]:
df1['original_price'] = df1[['price']].apply( (lambda row:  float(re.search(r".*(?=\xa0\xa0)",row['price']['original']).group().replace(',','.')) ), axis=1)
df1['promotional_price'] = df1[['price']].apply( (lambda row:  float(re.search(r".*(?=\xa0\xa0)",row['price']['promotional']).group().replace(',','.')) ), axis=1)

In [132]:
df1['discount'] = df1['original_price'] - df1['promotional_price']

In [154]:
df1[['discount','brand_name']].groupby('brand_name').sum().sort_values('discount',ascending=False)
#df1[['sku','brand_name']].groupby('brand_name').count().sort_values('sku',ascending=False) Cantidad de productos por marca

                   discount
brand_name
Tommy Hilfiger      6963.73
Name it             5915.20
Boboli              5748.40
O'Neill             5568.78
Polo Ralph Lauren   5239.50
...                     ...
Smitten Organic        0.00
Stella McCartney       0.00
Sunuva                 0.00
Tobias & The Bear      0.00
Lil'Boo                0.00

[387 rows x 1 columns]

#### Display the brands without discount at all

In [149]:
# your code
df1[['original_price','brand_name']].groupby('brand_name').sum().sort_values('original_price',ascending=False)

#hacer un groupby por brands y sum de precio original

                   original_price
brand_name
Name it                  30385.44
Tommy Hilfiger           24463.25
Polo Ralph Lauren        22427.80
Molo                     18726.70
Nike Sportswear          16957.19
...                           ...
igi natur                   17.95
Lucy & Sam                  16.95
Hape                        13.95
Ipanema                     13.95
Kaps                        12.99

[387 rows x 1 columns]